@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row text-center">
        <div class="col-6 offset-3">
            <h1 class="display-4">Pizza Time</h1>
            <img class="w-40 mainImage" src="~/images/pizza-time-logo.jpg" alt="Pizza Time" />
            <h3 class="text-capitalize">fastest pizza service</h3>
        </div>
    </div>
</div>