@page
@model RazorPizza.Pages.PizzaOrdersModel
@{
}

<h4>Orders</h4>
<div class="w-75 mx-auto">
<table class="table table-striped table-info">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pizza Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var po in Model.PizzaOrders)
        {
            <tr>
                <td>@po.Id</td>
                <td>@po.PizzaName</td>
                <td>@po.Price</td>
            </tr>
        }
    </tbody>
</table>
</div>
